.container {
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calendario {
  margin-top: 50px;
  height: 600px;
  width: 75vw;
  max-width: 1550px;
  background-color: #0071CE;
  border: 2px;
  border-radius: 10px;
  border-style: solid;
  overflow-y: scroll;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
}

.nombredelempleado{
  color: #ffff
}

.calendario-content {
  min-width: 25%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendario-header {
  max-width: 100%; 
  display: flex;
  align-items: center;
  position: sticky;  
  top: 0; 
  background-color: #0071CE;
}
.calendario-header-content {
  min-width: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.calendario-header-days {
  display: flex;  
  margin-left: 50px;
}

.calendario-header-days-content {
  height: 15px; 
  min-width: 25px; 
  margin-left: 10px; 
  font-family: 'Cascadia code';
}

.calendario-employees-content {
  min-width: 100%; 
  display: flex; 
  align-items: center; 
  padding-left: 15px;
}

.calendario-vacaciones-content {
  display: flex; 
  align-items: flex-end; 
  margin-left: 50px; 
  width: 75%; 
  min-width: 75%;
}

.calendario-vacaciones-button {
  height: 20px;
  min-width: 25px;
  margin-left: 10px; 
}

.diasdevacacciones {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .calendario-content {
    min-width: 75%; 
  }
  .calendario-header-content {
    min-width: 80%; 
  }
}